/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");//解决glyphicon的icons不显示的问题


//------------------navbar---------------------------
.navbar-default {
   background-color: #F2F2F2;  //背景颜色

   border-color: #F2F2F2; //边框色

  //  margin-bottom: 0; //底部 margin 不撑开距离
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; //圆角为0
  }
}

//--------body-----

body {
    background: #dadad2;
    // font-family: 'roboto-condensed';
    font-family: Georgia, "Times New Roman",
             "Microsoft YaHei", "微软雅黑",
             STXihei, "华文细黑",
             serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    letter-spacing: 1px;
    position: relative;
}

//------------------navbar固定在顶部---------------------------
.navbar-fixed-top {
    top: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}

//-------navbarlogo----

 .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 24px; //定制图片宽度
     height: 24px; //定制图片高度
 }


//---------Footer---------

  footer {
      color: #777;
  }

  footer .footer-below {
      padding: 25px 0;
      background-color: #CFD8DC;
  }

//----------Keep the footer at the bottom---------
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

//-------band---------
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

.carousel-caption {
  color: #F0F4C3
}

.img-circle {
  border-radius: 0;
}

.push-box {
    text-align: center;
    padding: 75px 0 0 0;
    height: 200px;
    background: image_url("user_background.jpg") no-repeat scroll top center/ cover;
}

.btn-push {
    transition: all 0.4s ease-in-out;
    background-color: #f44336;
    color: white;
    border-color: #f44336;
    padding: 10px 20px;
    font-size: 20px;
}

.btn {
    border-width: 2px;
}

//----定义图层
.info-default {
  opacity: 0;
  text-align: center;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  z-index: 4;
  color: #fff;
  display:block;
  position: absolute;
  width: auto;
 }
 //--当鼠标移动至图片上显现的定义
 .persona-link:hover  .info-default {
  opacity: 1//文字透明度为0
 }
 //--图片的透明度浅和过渡效果
.persona-link:hover .img-rounded{
   opacity: 0.2;
   -webkit-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   -webkit-backface-visibility: hidden;
   -webkit-perspective: 1000;
   -webkit-transition: all 0.3s ease-in-out;
 }
//--文字介绍
.wishlist{
      vertical-align: middle;
      display: inline-block;
      color: #ac976b;
      font-size: 1.35rem;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 0.5rem;
      opacity: 0;
}
.wishlist:hover{
  opacity: 1;
}
//---加入购物车按钮宽度
.add-to-carts {
  display: inline-block;
    width: 100%;
    max-width: 10rem;

}
//---加入购物车背景
.outline {
  background: #807e59;
    border: 0px solid black;
    color: white;
    padding: 0.3125rem 0.625rem;
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 0.625rem;
    font-family: 'brandon-grotesque';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
}
//-----=======搜索功能=====----------

//---------navbar搜索框大小------------
#search-id {
width: 200px;
padding-top: 7px;
}

//---------navbar search----------
.input-group input {
  background: #F2F2F2;
  color: #6D4C41;
  border-width: 0;
}

.btn-search {
  background-color: #F2F2F2;
  color: #6D4C41;
}
//------------==========搜索功能end=========---------------

//--------===== Users 注册登录 =====-----------
.user_setup{
  height: 850px;//设置块高过小的话，在较大屏幕上背景图与footer之间会存在空白区域
  background: image_url("user_background.jpg") no-repeat scroll top center/ cover;
}

.user_setup_content{
  background: #fff;
  margin-top: 135px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 3px 5px #BCAAA4;
  border: 5px solid #BCAAA4;
  border-radius: 25px;

  opacity:0.9;//透明度
  filter:alpha(opacity=95);

  h2{
    text-align: center;
  }

  .psw{
    float: right;
    margin-top: -33px;
    position: relative;
  }

  .account{
    text-align: center;
  }

  .form-inputs{
    margin-top: 25px;
  }

  .form-actions{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;

    .button{
      color: #fff;
      background-color: #6D4C41;
      border-color: #6D4C41;
      font-size: 16px;
      letter-spacing: 1px;
      width: 100%;
    }

    .button:hover{
      background-color: #8D6E63;
      border-color: #8D6E63;
      color: #fff;
    }
  }
}

//--------===== Users 注册登录 end =====-----------

//-------====== gotop 返回顶部 ========-----------
.usr-rmenu {
  position:fixed;
  right:20px;
  bottom:100px;
  z-index:999;
}

.usr-rmenu .btn {
  width:60px;
  height:60px;
  border-radius: 50%;//以圆形显示
  cursor:pointer;
  position:relative;
}

.usr-rmenu .btn-top {
  background:url(../images/usr_top.png) no-repeat;
  background-color:#cc790c;
  display:none;
}

.usr-rmenu .btn-top:hover {
  background-color:#FF9800;
}
//-------====== gotop 返回顶部 end ========-----------

.goods{
      text-align: center;
      position: relative;

}
