/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


.product-details {
  margin-left: 15px;
}

//------------------navbar---------------------------
.navbar-default {
   background-color: #F2F2F2;  //背景颜色

   border-color: #F2F2F2; //边框色

  //  margin-bottom: 0; //底部 margin 不撑开距离
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; //圆角为0
  }
}

//--------body-----

body {
    background: #dadad2;
    font-family: 'roboto-condensed';
    font-weight: 300;
    font-style: normal;
    color: black;
    letter-spacing: 1px;
    position: relative;
}
