// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-box thead {
    background-color: #BDBDBD;
    font-size: 16px;
    color: #795548
}
