// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//----products_index------

.product-box {
  img {
   width: 100%; //可使图片随屏幕大小缩放
   margin: 7.5px auto 7.5px auto;
  }
  table {
    thead {
      background: #8D6E63;
      color: #FAFAFA;
    }
  }
  .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 12px 8px;
    vertical-align: middle;//垂直居中
  }
}

.bakendproducts-image {
  img {
    max-height: 80px; //设定为小图片
    width: auto;
  }
}

//-----------products_show------------
.product-multimages {
  margin-top: 50px;
}

.show-photo-xsmall-box {
  img {
    max-height: 80px; //设定为小图片
    width: auto;
  }
}

.show-photo-xsmall-box.nav-tabs li {
  // width: 15%;
  margin-right: 2.5%;
}
.show-photo-xsmall-box.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.show-photo-xsmall-box.nav-tabs li:last-of-type {
  margin-right: 0;
}
//-----------products_show end------------
