<br />
<div class="instruction">
  <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
  	<div class="text-center">
  		<a href="/" target="_blank">首页</a><span>|</span><a href="#" target="_blank">售前售后</a><span>|</span><a href="#" target="_blank">常见问题</a><span>|</span><a href="#" target="_blank">认识我们</a>			<a href="#" class="gtop">BACK TOP</a>
  	</div>
    <br />
  	<div class="so">
  		<div class="nr">
        【关于快递】本店默认顺丰速运，顺丰到不了的地方采用EMS，如需要发其他快递请提前与我们联系，并在下单时做好备注。
        <br>
        【关于色差】所有商品均为实物拍摄，由于各显示器显示会有不同，色彩会略有差异，对色彩要求高的卖家请慎拍。
        <br>
        【关于售后】发货前我们都会仔仔细细检查，力求避免差错，出现售后问题。若仍有不慎，出现严重瑕疵，请您与我们联系。
      </div>
    </div>
  </div>
</div>
